name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy
    - uses: Swatinem/rust-cache@v2
    - name: Install OSRM dependencies
      run: sudo apt install build-essential git cmake pkg-config libbz2-dev libxml2-dev libzip-dev libboost-all-dev lua5.2 liblua5.2-dev libtbb-dev
    - name: Checkout PSRM
      uses: actions/checkout@v3
      with:
        repository: Project-OSRM/osrm-backend
        path: './osrm-backend'
    - name: Build OSRM
      run: mkdir -p build && cmake && cmake --build . && cmake --build . --target install
      with:
        working-directory: './osrm-backend'
    - name: Build library
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - uses: giraffate/clippy-action@v1
      with:
        reporter: 'github-pr-check'
        github_token: ${{ secrets.GITHUB_TOKEN }}